// 按钮 ----------------------------------------------------------------------------------------------------------------
button.el-button [class*=el-icon] + span {
  margin-left: 3px;
}

// 表单 ----------------------------------------------------------------------------------------------------------------
label.el-form-item__label {
  font-weight: 700;
}

// 表格 ----------------------------------------------------------------------------------------------------------------
div.el-table {
  border-radius: 4px;
}