// 按钮 ----------------------------------------------------------------------------------------------------------------
button.el-button [class*=el-icon] + span {
  margin-left: 3px;
}

// 输入框 ---------------------------------------------------------------------------------------------------------------
div.el-input__wrapper {
  transition: none;
}

// 复选框 ---------------------------------------------------------------------------------------------------------------
span.el-checkbox__inner {
}

// 表单 ----------------------------------------------------------------------------------------------------------------
label.el-form-item__label {
  font-weight: 700;
}

// 表格 ----------------------------------------------------------------------------------------------------------------
div.el-table {
  border-radius: 7px;
}

// 弹框 ----------------------------------------------------------------------------------------------------------------
div.el-dialog {
  border-radius: 7px;
}
button.el-dialog__headerbtn {
  top: 0px;
}
div.el-dialog__body {
  padding: 12px 5px 0px;
}