// 自定义滚动条样式
.custom_scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  // 滚动条滑块样式
  &::-webkit-scrollbar-thumb {
    background: #0003;
    border-radius: 10px;
  }
  // 滚动条背景样式
  &::-webkit-scrollbar-track {
    background: #F3F3F3;
  }
}

.page_container {
  width: 100%;
  min-height: 100%;
  border-radius: 5px;
  padding: 15px 15px;
}

.comp_container {
  
}