html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

#app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#loader_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #4db6ac;
}

#loader_wrapper .circle {
  --size: 150px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FFF;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: calc(calc(0px - var(--size)) / 2);
  margin-left: calc(calc(0px - var(--size)) / 2);
  animation: spin 2s linear infinite;
}

#loader_wrapper .circle:before {
  --dis: 5px;
  content: "";
  position: absolute;
  top: var(--dis);
  left: var(--dis);
  right: var(--dis);
  bottom: var(--dis); 
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FFF;
  animation: spin 3s linear infinite;
}
 
#loader_wrapper .circle:after {
  --dis: 13px;
  content: "";
  position: absolute;
  top: var(--dis);
  left: var(--dis);
  right: var(--dis);
  bottom: var(--dis);
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FFF;
  animation: spin 1.5s linear infinite;
}

#loader_wrapper .text {
  position: absolute;
  top: 61%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 19px;
  line-height: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}