:root {
  /* 布局容器背景颜色 */
  --theme-layout-bg-color: #252628;

  /* 侧边栏背景颜色 */
  --theme-aside-bg-color: #191A1F;

  /* 侧边栏LOGO字体颜色 */
  --theme-aside-logo-font-color: #ffffff;

  /* 导航栏背景颜色 */
  --theme-navbar-bg-color: #191A1F;

  /* 导航栏字体颜色 */
  --theme-navbar-font-color: #ffffff;

  /* 导航栏图标颜色 */
  --theme-navbar-icon-color: #ffffff;
  
  /* 内容栏背景颜色 */
  --theme-main-bg-color: #191A1F;

  /* 内容栏字体颜色 */
  --theme-main-font-color: #ffffff;

  

  --theme-menu-bg-color: transparent;

  --theme-menuitem-bg-color: transparent;
  --theme-menuitem-font-color: #888888;
  --theme-menuitem-hover-bg-color: transparent;
  --theme-menuitem-hover-font-color: #ffffff;
  --theme-menuitem-active-bg-color: #4F97FF;
  --theme-menuitem-active-font-color: #ffffff;

  --theme-submenu-bg-color: transparent;
  --theme-submenu-hover-bg-color: transparent;
  --theme-submenu-opened-bg-color: transparent;
  --theme-submenu-active-bg-color: transparent;

  --theme-submenu-title-bg-color: transparent;
  --theme-submenu-title-font-color: #888888;
  --theme-submenu-title-hover-bg-color: transparent;
  --theme-submenu-title-hover-font-color: #ffffff;
  --theme-submenu-title-opened-bg-color: transparent;
  --theme-submenu-title-opened-font-color: #ffffff;
  --theme-submenu-title-active-bg-color: transparent;
  --theme-submenu-title-active-font-color: #ffffff;
}