:root {
  --theme-layout-bg-color: #252628;

  --theme-aside-bg-color: #191A1F;
  --theme-aside-logo-font-color: #ffffff;
  --theme-aside-logo-bg-color: #191A1F;

  --theme-menu-bg-color: transparent;

  --theme-submenu-bg-color: transparent;
  --theme-submenu-hover-bg-color: transparent;
  --theme-submenu-opened-bg-color: transparent;
  --theme-submenu-active-bg-color: transparent;

  --theme-submenu-title-font-color: #888888;
  --theme-submenu-title-bg-color: transparent;
  --theme-submenu-title-hover-font-color: #ffffff;
  --theme-submenu-title-hover-bg-color: transparent;
  --theme-submenu-title-opened-font-color: #ffffff;
  --theme-submenu-title-opened-bg-color: transparent;
  --theme-submenu-title-active-font-color: #ffffff;
  --theme-submenu-title-active-bg-color: transparent;

  --theme-menuitem-font-color: #888888;
  --theme-menuitem-bg-color: transparent;
  --theme-menuitem-hover-font-color: #ffffff;
  --theme-menuitem-hover-bg-color: transparent;
  --theme-menuitem-active-font-color: #ffffff;
  --theme-menuitem-active-bg-color: #4F97FF;

  --theme-navbar-font-color: #ffffff;
  --theme-navbar-icon-color: #ffffff;
  --theme-navbar-bg-color: #191A1F;
  
  --theme-main-font-color: #ffffff;
  --theme-main-bg-color: #191A1F;

  --theme-page-bg-color: #252628;
}