:root {
  --theme-aside-bg-color: #ffffff;
  --theme-aside-logo-font-color: #505050;
  --theme-aside-logo-bg-color: #ffffff;
  --theme-submenu-font-color: #505050;
  --theme-submenu-hover-bg-color: #ecf5ff;
  --theme-menuitem-font-color: #505050;
  --theme-menuitem-hover-bg-color: #ecf5ff;
  --theme-navbar-font-color: #505050;
  --theme-navbar-bg-color: #ffffff;
  --theme-main-bg-color: #F0F2F5;
}