html.dark {
  /* 布局容器背景颜色 */
  --theme-layout-bg-color: #252628;
  /* 侧边栏背景颜色 */
  --theme-aside-bg-color: #191A1F;
  /* 侧边栏LOGO字体颜色 */
  --theme-aside-logo-font-color: #CFD3DC;

  /* 导航栏背景颜色 */
  --theme-navbar-bg-color: #191A1F;
  /* 导航栏字体颜色 */
  --theme-navbar-font-color: #CFD3DC;
  /* 导航栏图标颜色 */
  --theme-navbar-icon-color: #CFD3DC;
  /* 导航栏边框颜色 */
  --theme-navbar-border-color: #505050;

  /* 标签栏背景颜色 */
  --theme-tagbar-bg-color: #191A1F;
  /* 标签栏标签页背景颜色 */
  --theme-tagbar-tagpage-bg-color: #191A1F;
  /* 标签栏标签页边框颜色 */
  --theme-tagbar-tagpage-border-color: #CFD3DC;
  /* 标签栏标签页字体和关闭图标颜色 */
  --theme-tagbar-tagpage-font-color: #CFD3DC;
  /* 标签栏标签页关闭图标鼠标移入字体颜色 */
  --theme-tagbar-tagpage-close-icon-hover-font-color: #333333;
  /* 标签栏标签页关闭图标鼠标移入背景颜色 */
  --theme-tagbar-tagpage-close-icon-hover-bg-color: #CFD3DC;
  /* 标签栏标签页激活时背景颜色 */
  --theme-tagbar-tagpage-active-bg-color: #ffffff;
  /* 标签栏标签页激活时边框颜色 */
  --theme-tagbar-tagpage-active-border-color: #ffffff;
  /* 标签栏标签页激活时字体和关闭图标颜色 */
  --theme-tagbar-tagpage-active-font-color: #000000;
  
  /* 标签栏右键菜单背景颜色 */
  --theme-tagbar-menu-bg-color: #191A1F;
  /* 标签栏右键菜单阴影颜色 */
  --theme-tagbar-menu-shadow-color: #888;
  /* 标签栏右键菜单项字体颜色 */
  --theme-tagbar-menuitem-font-color: #CFD3DC;
  /* 标签栏右键菜单项鼠标移入字体颜色 */
  --theme-tagbar-menuitem-hover-font-color: #191A1F;
  /* 标签栏右键菜单项鼠标移入背景颜色 */
  --theme-tagbar-menuitem-hover-bg-color: #CFD3DC;

  /* 内容栏背景颜色 */
  --theme-main-bg-color: #191A1F;
  /* 内容栏字体颜色 */
  --theme-main-font-color: #dddddd;

  /* 菜单组件 */
  --theme-menu-bg-color: transparent;
  --theme-menuitem-bg-color: transparent;
  --theme-menuitem-font-color: #888888;
  --theme-menuitem-hover-bg-color: transparent;
  --theme-menuitem-hover-font-color: #ffffff;
  --theme-menuitem-active-bg-color: #eeeeee;
  --theme-menuitem-active-font-color: #000000;
  --theme-submenu-bg-color: transparent;
  --theme-submenu-opened-bg-color: transparent;
  --theme-submenu-active-bg-color: transparent;
  --theme-submenu-title-bg-color: transparent;
  --theme-submenu-title-font-color: #888888;
  --theme-submenu-title-hover-bg-color: transparent;
  --theme-submenu-title-hover-font-color: #ffffff;
  --theme-submenu-title-opened-bg-color: transparent;
  --theme-submenu-title-opened-font-color: #ffffff;
  --theme-submenu-title-active-bg-color: transparent;
  --theme-submenu-title-active-font-color: #ffffff;


  /* 以下是Element Plus变量 */
  .el-table {
    --el-table-header-bg-color: #444444;
    --el-table-tr-bg-color: #191A1F;
  }
}