html.light {
  /* 布局容器背景颜色 */
  --theme-layout-bg-color: #eeeeee;
  /* 侧边栏背景颜色 */
  --theme-aside-bg-color: #ffffff;
  /* 侧边栏LOGO字体颜色 */
  --theme-aside-logo-font-color: #505050;

  /* 导航栏背景颜色 */
  --theme-navbar-bg-color: #ffffff;
  /* 导航栏字体颜色 */
  --theme-navbar-font-color: #505050;
  /* 导航栏图标颜色 */
  --theme-navbar-icon-color: #505050;
  /* 导航栏边框颜色 */
  --theme-navbar-border-color: #eeeeee;

  /* 标签栏背景颜色 */
  --theme-tagbar-bg-color: #ffffff;
  /* 标签栏标签页背景颜色 */
  --theme-tagbar-tagpage-bg-color: #ffffff;
  /* 标签栏标签页边框颜色 */
  --theme-tagbar-tagpage-border-color: #cccccc;
  /* 标签栏标签页字体和关闭图标颜色 */
  --theme-tagbar-tagpage-font-color: #909399;
  /* 标签栏标签页关闭图标鼠标移入字体颜色 */
  --theme-tagbar-tagpage-close-icon-hover-font-color: #ffffff;
  /* 标签栏标签页关闭图标鼠标移入背景颜色 */
  --theme-tagbar-tagpage-close-icon-hover-bg-color: #909399;
  /* 标签栏标签页激活时背景颜色 */
  --theme-tagbar-tagpage-active-bg-color: var(--app-theme-color);
  /* 标签栏标签页激活时边框颜色 */
  --theme-tagbar-tagpage-active-border-color: var(--app-theme-color);
  /* 标签栏标签页激活时字体和关闭图标颜色 */
  --theme-tagbar-tagpage-active-font-color: #ffffff;
  
  /* 标签栏右键菜单背景颜色 */
  --theme-tagbar-menu-bg-color: #ffffff;
  /* 标签栏右键菜单阴影颜色 */
  --theme-tagbar-menu-shadow-color: #888;
  /* 标签栏右键菜单项字体颜色 */
  --theme-tagbar-menuitem-font-color: #909399;
  /* 标签栏右键菜单项鼠标移入字体颜色 */
  --theme-tagbar-menuitem-hover-font-color: #ffffff;
  /* 标签栏右键菜单项鼠标移入背景颜色 */
  --theme-tagbar-menuitem-hover-bg-color: #909399;

  /* 内容栏背景颜色 */
  --theme-main-bg-color: #ffffff;
  /* 内容栏字体颜色 */
  --theme-main-font-color: #606266;
  
  /* 菜单组件 */
  --theme-menu-bg-color: transparent;
  --theme-menuitem-bg-color: transparent;
  --theme-menuitem-font-color: #505050;
  --theme-menuitem-hover-bg-color: #ECF5FF;
  --theme-menuitem-hover-font-color: #505050;
  --theme-menuitem-active-bg-color: var(--app-theme-color);
  --theme-menuitem-active-font-color: #ffffff;
  --theme-submenu-bg-color: transparent;
  --theme-submenu-opened-bg-color: #F9FCFF;
  --theme-submenu-active-bg-color: #F9FCFF;
  --theme-submenu-title-bg-color: transparent;
  --theme-submenu-title-font-color: #505050;
  --theme-submenu-title-hover-bg-color: #ECF5FF;
  --theme-submenu-title-hover-font-color: #505050;
  --theme-submenu-title-opened-bg-color: #ECF5FF;
  --theme-submenu-title-opened-font-color: #505050;
  --theme-submenu-title-active-bg-color: #DBE7FF;
  --theme-submenu-title-active-font-color: var(--app-theme-color);


  /* 以下是Element Plus变量 */
  .el-table {
    --el-table-header-bg-color: #f8f8f9;
    --el-table-tr-bg-color: #ffffff;
  }
}